---
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import SocialIcons from './SocialIcons.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links">
      <a class="social-link" href="https://x.com/JasonBoy7" target="_blank">
        <span class="sr-only">Follow me on Twitter</span>
        <SocialIcons icon="twitter" size={24} />
      </a>
      <a class="social-link" href="https://github.com/JasonBoy" target="_blank">
        <span class="sr-only">Go to my GitHub profile</span>
        <SocialIcons icon="github" size={24} />
      </a>
      <ThemeToggle />
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--theme-bg);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    color: var(--theme-text);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--theme-text);
    text-decoration: none;
  }
  nav a:not(.social-link) {
    border-bottom: 4px solid transparent;
  }

  nav a:not(.social-link).active {
    text-decoration: none;
    border-bottom-color: var(--theme-accent);
  }
  .social-links,
  .social-links a {
    display: flex;
    align-items: center;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
